<template>
  <div class="header-container">
    <div class="logo"><img src="~assets/img/logo.png" alt="LOGO" class="logo"> </div>
    <div class="menu">
      <nav>
        <ul>
          <li>
            <nuxt-link class="link-menu" to="/">O nas</nuxt-link>
          </li>
          <li>
            <nuxt-link class="link-menu" to="/Offers">Oferta</nuxt-link>
          </li>
          <li>
            <nuxt-link class="link-menu" to="/Menu">Menu</nuxt-link>
          </li>
          <li>
            <nuxt-link class="link-menu" to="/News">Blog</nuxt-link>
          </li>
          <li>
            <nuxt-link class="link-menu" to="/FAQ">FAQ</nuxt-link>
          </li>
          <li>
            <nuxt-link class="link-menu" to="/Contact">Kontakt</nuxt-link>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
  export default {
    name: "PageHeader"
  }
</script>

<style lang="scss">
  .header-container {
    width: 1300px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #636e72;
    border-bottom: 3px solid #FFCC00;
    border-top: 3px solid #FFCC00;


    &:after {
      content: "";
      height: 106%;
      width: 55px;
      border-radius: 90px 0 0 90px;
      background: #636e72;
      position: absolute;
      top: 0;
      left: -55px;
      border-top: 3px solid #FFCC00;
      border-left: 3px solid #FFCC00;
      border-bottom: 3px solid #FFCC00;
      margin-top: -3px;
    }

    &:before {
      content: "";
      height: 106%;
      width: 55px;
      border-radius: 0 90px 90px 0;
      background: #636e72;
      position: absolute;
      top: 0;
      right: -55px;
      border-top: 3px solid #FFCC00;
      border-right: 3px solid #FFCC00;
      border-bottom: 3px solid #FFCC00;
      margin-top: -3px;
    }

    .logo {
      img {
        height: 100px;
      }
    }

    nav {
      ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        list-style: none;
        text-transform: uppercase;

        li {
          display: flex;
          align-items: center;

          .link-menu {
            padding: 0 25px;
            text-decoration: none;
            color: #FFCC00;
            font-size: 18px;
            font-family: Roboto;
            font-weight: 900;
            letter-spacing: 5px;
          }
        }
      }
    }
  }

</style>
